Flask==3.1.1
beautifulsoup4
selenium>=4.15.2
requests

# Flask dependencies
Jinja2
Werkzeug
itsdangerous
blinker

# Optional utility libs (sin versiones fijas)
colorama
certifi
charset-normalizer
idna
urllib3
typing_extensions
